.navbar {
	position: fixed;
	width: 100%;
	z-index: 300;
	background-color: #ffffff;
	font-family: 'Spartan', sans-serif;
}

#landing {
	background:
    url(https://images.pexels.com/photos/1933239/pexels-photo-1933239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: 'Spartan', sans-serif;
}

#neilPhoto {
	height: 280px;
	width: 280px;
	border-radius: 80px;
	display: inline-block;
}

#nameSlogan {
	margin: auto;
}

#about {
	font-family: 'Spartan', sans-serif;		
}

#aboutPhoto {
	border-radius: 80px;
}

.responsive {
	width: 100%;
	height: auto;
}

#project {
	font-family: 'Spartan', sans-serif;	
	background:
    url(https://images.pexels.com/photos/1452701/pexels-photo-1452701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.card-text {
	font-size: 14px;
}


#aboutInfo {
	list-style-type: none;
}

#tech {
	font-family: 'Spartan', sans-serif;	
}

#contact {
	font-family: 'Spartan', sans-serif;	
	background-color: #000000;
}

#googleMap {
	height: 50vh;
	width: 100%;
	display: block;
	border: none;
	border-radius: 20px;
}

#footer {
	background-color: #000000;
	font-family: 'Roboto', sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}



/* overlay effect on about section - need to learn this better */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  right: 0;
  height: 80%;
  width: 94%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2F4F4F;
  border-radius: 80px;
}

.example:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}